.weather-card {
    background-color: #212426;
    border: 1px solid #51565D;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    color: #fff;
}

body.light .weather-card {
    background-color: #f5f5f5;
    color: #121212;
}

.weather-card h3 {
    margin-bottom: 8px;
}

.weather-card p {
    margin: 4px 0;
}