.weather-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.dia-bloque {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dia-bloque h3 {
    margin-bottom: 12px;
}

.horas-container {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
}

