* {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body.dark {
  background-color: #18191B;
  color: white;
}

body.light {
  background-color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0px 30px 0px 30px;
  display: flex;
  border-bottom: 1px solid #51565D;
  height: 65px;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.logo {
  user-select: none;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.nav-container {
  max-width: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: inherit;
  padding: 0;
  cursor: pointer;
  margin-top: 1px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

@media (max-width: 749px) {
  .main-container .box {
    border: 0;
    border-top: 1px solid #51565D;
    border-bottom: 1px solid #51565D;
    border-radius: 0;
  }
}

.box {
  background-color: #212426;
  border-radius: 4px;
  border: 1px solid #51565D;
  padding: 20px;
}

body.light .box {
  background-color: #dddddd;
}

.box h2 {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
}

button {
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 1px solid #51565D;
  border-radius: 8px;
  cursor: pointer;
}